body
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #fff
}

#utama
{
	width: 20px;
	margin-top: 3%;
	margin: 0 auto;
	position: relative;

	padding-top:0px;
	padding-bottom: 0px;
	right: 270px;
	height: 213px;
	width: 182px;
	background-color: #fff;
}

/*#kedua
{
	width: 20px;
	margin-top: 3%;
	margin: 0 auto;
	position: relative;

	padding-top:0px;
	padding-bottom: 0px;
	right: 0px;
	height: 0px;
	width: 0px;
	background-color: #fff;
}
*/
#headeruno
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:600;
	padding: 10px;
	padding-bottom: 14px;
	border-style:ridge;
	text-align: right;
	color: #FFFFFF;
	background-color: #5FBCFF;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 0px;
}

#headertwo
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px;
	border-style:ridge;
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	background-color: #5FBCFF;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 20px;
	border-bottom:ridge 3px #606060;	
}


#judul
{
	font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:17px;
	padding: 19px;
	text-align: center;
	color: #FFFFFF;
	background-color: #5FBCFF;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 2px solid #fff;
}
		
#inputan
{
	background-color: #ccc;
	padding: 20px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.input
{
	padding: 10px;
	border: 0;
}

.textfield
{
	width:230px;
	border-radius: 20px;
}

.button
{
	background-color: #339966;
	border-radius: 10px;
	color: #fff;
	width:250px;
}

.button:hover
{
	background-color: #336666;
	cursor:pointer;
}
	
.hias
{
	align-self: center;
	background-color: #339966;
	border-radius: 0px;
	width: 690px;
	height:10px;
}

.btn-right
{
	padding:8px;
	text-decoration:none;
	border-radius:3px;
	color:#fff;
	text-align:right;
}

.cr
{
	color:#535353
}

.webmaster
{
	padding:2px;
	text-decoration:none;
	border-radius:3px;
	color:#535353;
	text-align:right;
	
}

.loginform
{
	font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	padding: 15px;
	text-align: left;
	
	color: #FFFFFF;
	background-color: #5FBCFF;
	border-radius: 20px;
	border-bottom: 4px solid #008AD7;
	width:180px;
	height:90px;
}

/*.imageform
{
	font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	padding: 15px;
	text-align:center;
	
	color: #FFFFFF;
	background-color: #5FBCFF;
	border-radius: 20px;
	border-bottom: 4px solid #008AD7;
	width:100px;
	height:100px;
}
*/